.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 1200px;
    width: 100%;
    text-align: center;
}

.close-box{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 5px;
}

.bx-x {
    font-size: 18px;
    color: #64748B;
    outline: 2px solid #dbdde0;
    border-radius: 4px;
    cursor: pointer;
}

.bx-x:hover {
    color: rgb(200, 31, 31);
    outline: 2px solid  rgb(200, 31, 31);
}

.card-contents{
    gap: 20px;
    display: flex;
}

.card-images{
    gap: 10px;
    max-height: 80vh;
    overflow-y: hidden;
    overflow-x: hidden; 
    display: flex;
    flex-direction: column;
    width: 60%;
}

.card-images:hover{
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden; 
}

.house-img{
    width: 100%;
    height: auto;
    max-width: 400px;
    border-radius: 2px; 
}

.card-details{
    width: 100%;
    max-height: 80vh;
    overflow-x: hidden; 
    display: flex;
    flex-direction: column;
}

.card-status{
    display: flex;
    margin: 10px 0;
}

.card-available {
    background-color: #EEF0F2;
    padding: 5px 8px;
    border-radius: 5px;
    color: green;
    font-weight: bold;
    font-size: 14px;
}

.card-occupied {
    background-color: #EEF0F2;
    padding: 5px 8px;
    border-radius: 5px;
    color: red;
    font-weight: bold;
    font-size: 14px;
}


.card-name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card-location{
    padding: 5px 0;
    display: flex;
    align-items: center;
    gap: 3px;
}

.bxs-location-plus{
    color: red;
    font-size: 18px;
}

.card-button{
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.contact-btn {
    background-color: #2858FF;
    color: white;
    border: none;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px; 
    margin: 10px 0;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.contact-btn:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.contact-btn:focus {
    outline: none;
}

.card-overview{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.overview-details {
    margin-top: 5px;
    margin-left: 10px;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; 
}

.overview-box{
    display: flex;
    align-items: center;
    gap: 5px;
}

.bxs-door-open{
    color: #9c5f1e;
    font-size: 20px;
}

.bxs-bed{
    color: #9c1e1e;
    font-size: 20px;
}

.bxs-bath{
    color: #1E9C39;
    font-size: 20px;
}

.bx-expand-alt{
    color: #1e319c;
    font-size: 20px;
}
  

.card-amenities{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.amenities-details {
    margin-top: 5px;
    margin-left: 10px;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
}

.card-description{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.description-text{
    margin-top: 5px;
    margin-bottom: 30px;
    text-align: justify;
    font-size: 14px;
}

.card-title{
    font-size: 34px;
}

.card-price{
    font-size: 24px;
}

.card-text{
    font-size: 14px;
}

@media (max-width:1024px){
    .popup-content {
        width: 90%;
    }

    .card-images {
        overflow-y: auto;
        width: 50%;
    }

    .card-contents {
        gap: 20px;
    }

    .overview-details {
        width: 60%;
    }

    .amenities-details {
        width: 60%;
    }

    .contact-btn {
        font-size: 14px;
    }
}

@media (max-width:768px){
    .popup-content {
        width: 90%;
    }

    .card-contents{
        flex-direction: column;
    }

    .card-images {
        display: flex;
        overflow-x: auto;
        width: 100%;
        flex-direction: row;
    }

    .popup-content {
        max-height: 90vh;
        overflow-y: auto;
        overflow-x: hidden; 
        width: 90%;
    }

    .card-details {
        max-height: 100vh;
        overflow-y: hidden;
    }
    
    .card-title {
        font-size: 20px;
    }

    .card-price {
        font-size: 16px;
    }

    .card-contents{
        flex-direction: column;
    }

    .bxs-location-plus, .bxs-door-open, .bxs-bath, .bxs-bed, .bx-expand-alt {
        font-size: 16px;
    }

    .card-text{
        font-size: 12px;
    }

    .contact-btn {
        padding: 6px 16px;
        font-size: 12px;
    }

    .overview-details {
        width: 40%;
    }

    .amenities-details {
        width: 40%;
    }

    .description-text {
        font-size: 12px;
    }
}

@media (max-width:425px){
    .bx-x {
        font-size: 16px;
    }

    .popup-content {
        max-height: 90vh;
        overflow-y: auto;
        overflow-x: hidden; 
        width: 90%;
    }

    .card-details {
        max-height: 100vh;
        overflow-y: hidden;
    }
    
    .card-title {
        font-size: 20px;
    }

    .card-price {
        font-size: 16px;
    }

    .card-contents{
        flex-direction: column;
    }

    .bxs-location-plus, .bxs-door-open, .bxs-bath, .bxs-bed, .bx-expand-alt {
        font-size: 16px;
    }

    .card-text{
        font-size: 12px;
    }

    .contact-btn {
        padding: 6px 16px;
        font-size: 12px;
    }

    .overview-details {
        width: 100%;
    }

    .amenities-details {
        width: 100%;
    }

    .description-text {
        font-size: 12px;
    }
}